*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--color-4);
}

/* Variables de Colores */
:root{
    --color-1: #21274b;
}
:root{
    --color-2: #545daa;
}
:root{
    --color-3: #959dfa;
}
:root{
    --color-4: #e6e9f6;
}
:root{
    --color-5: #140f07;
}
/* Variables de Colores */

html{
    font-size: 62.5%;
    background-color: var(--color-2);
    width: 100%;
}
.container-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Inicio CSS Header y sus componentes internos */

.main-header{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-1);
    font-size: 1.5rem;
    height: 85vh;
    box-shadow: 0px 0px 20px 5px rgb(0 0 0 / 20%);
}
.div1-header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: auto;
    margin: 5% 0;
}
.div2-header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 60vw;
    height: auto;
    margin: 5% 0;
}
.nav-header{
    width: 100vw;
    background-color: var(--color-1);
    position:absolute;
    top:80vh;
    right: auto;
    left: auto;
}
header picture img{
    border-radius: 100%;
    height: 250px;
    box-shadow: 0px 5px 25px 0px rgb(0 0 0 / 20%);
}
.titulo-header{
    font-size: 10rem;
    margin: 0px 0px;
}
.subtitulo-header{
    color: var(--color-3);
    font-weight: 500;
    font-size: 3rem;
    margin: 5px 0px;
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    margin: 20px auto;
}
nav ul li{
    text-decoration: none;
}
li a{
    text-decoration: none;
    font-style: none;
    padding: 5px;
    margin: 0 10px;
    text-transform: uppercase;
}
li a:hover{
    background-color: var(--color-3);
    border-radius: 5px;
}
.boton-1{
    background-color:transparent;
    color: var(--color-4);
    border: var(--color-4) solid 1px;
    font-size: 1.8rem;
    border-radius: 5px;
    padding: 5px;
    margin: 20px 5px 0px 5px;
    box-shadow: 0px 5px 25px 0px rgb(0 0 0 / 20%);
}
.boton-1:hover{
    background-color: var(--color-4);
    color: var(--color-5);
}

/* Fín CSS Header y sus componentes internos */

/* Inicio CSS Section Información */

.container-info{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 100%;
    height: 85vh;
}
.card-icon{
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 40vh;
    padding: 0px 25px;
}
.icono-card{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.icon{
    display: flex;
    align-items: center;
    justify-content:space-around;
}
/** iconos **/
div i{
    color: var(--color-2);
    font-size: 5rem;
}
.icon-container {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 25%;
    background-color: var(--color-4);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: all 0.6s ease-in-out;
    margin: 0px 30px;
}
.icon-container i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    transition: all 0.4s ease-in-out;
}
.caja-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-in-out;
}
.icontext{
    margin: 20px 0;
    transition: all 0.4s ease-in-out;
}
.icon-container:hover {
    background-color: #ffffff;
    transform: translateY(-20px);
    width: 70px;
    height: 70px;
}
.icon-container:hover i {
    font-size: 3.5rem;
}

/* Fín CSS Section Información */

/* Inicio CSS Section Experiencia */

.container-experiencia{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: 50px 0;
    height: 85vh;
}
.experiencia-caja{
    width: 100%;
    height: 85vh;
}
.experiencia-titulo{
    font-size: 2.5rem;
    color: var(--color-4);
    text-align: center;
    margin: 20px 0px;
}







/* 
.container-card-experiencia{
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
}

.card-exp{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 400px;
    margin: 0 15px;
    background-color: var(--color-4);
    border-radius: 5%;
    box-shadow: 0px 5px 25px 0px rgb(0 0 0 / 30%);
}
 */





/* Fín CSS Section Experiencia */


/* Inicio CSS Section Habilidades */

.container-habilidades{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: 50px 0;
    height: 85vh;
}
.habilidades-caja{
    width: 100%;
    height: 85vh;
}
.habilidades-titulo{
    font-size: 2.5rem;
    color: var(--color-4);
    text-align: center;
    margin: 20px 0px;
}

/* Fín CSS Section Habilidades */

/* Inicio CSS Section Contacto */

.container-contacto{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.contacto-caja{
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 85vh;
}
.contacto-titulo{
    font-size: 2.5rem;
    color: var(--color-4);
    text-align: center;
    margin: 20px 0px;
}

form {
    width: 60vw;
    height: 60vh;
    margin: 40px auto;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
input,
textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--color-4);
    border-radius: 4px;
    box-sizing: border-box;
    line-height: 1.5;
    color: var(--color-1);
    font-size: 1.8rem;
}
button {
    background-color: var(--color-3);
    color: var(--color-4);
    padding: 0.6rem 1.4rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
    line-height: 1.5;
}
button:hover {
    background-color: var(--color-1);
}
label input[type="checkbox"] {
    margin-right: 0.5rem;
}

.nombyapelli{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.inp-email, .text-mensj, .div-check{
    margin-bottom: 1rem;
}

.inpu-nombre, .inpu-apellido{
    width: 48%;
}

.text-mensaje{
    height: 200px;
    color: var(--color-1);
    font-size: 1.8rem;
}

.lab-check{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.inp-check{
    width: 20px;
}

/* Fín CSS Section Contacto */

/* Inicio CSS Footer */

.container-footer{
    background-color: var(--color-1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 5vh;
}
.container-footer h4{
    font-size: 1.8rem;
    text-align: center;
}

/* Fín CSS Footer */